* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */
  background: #4f0c28;
}

body {
  font-family: "Playfair Display", serif;
  color: #c5d2f8;
  background-color: #4f0c28;
}
#container {
  width: 360px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

#profile {
  text-align: center;
  padding: 2px;
}

#profile h1 {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  text-align: center;
}

#profile h4 {
  font-family: "Playfair Display", serif;
  font-size: 10px;
  text-align: center;
  padding-bottom: 10px;
}


#profile img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  padding: 3px;
}


#agendar {
  font-size: 14px;
  font-weight: 500;
  line-height: 2px;
  margin-top: 20px;
  text-align: center;
}
/* links */

ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 26px;
  color: #c5d2f8;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;

  backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.5s;
}

/* pseudo-selector*/
ul li a:hover {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid white;
}

#social-links {
  display: flex;
  padding: 2px 0;
  font-size: 24px;
  justify-content: center;
}

#social-links a {
  color: #c5d2f8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;

  transition: backgorund 0.5s;
  border-radius: 50%;
}

#social-links a:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* footer {
  font-size: 8px;
  padding: 15px 0;
  text-align: center;
} */

.dev-footer {
    width: 100%;
    padding: 12px 0;
    text-align: center;
    font-size: 12px;
    color: #c5d2f8;
    background-color: transparent;
}

.dev-footer a {
    color: #c5d2f8;
    text-decoration: none;
    font-weight: 500;
}

.dev-footer a:hover {
    color: #c5d2f8;
    text-decoration: underline;
}
